PORT=3001
NODE_ENV=development
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=pricehunter318@gmail.com
SMTP_PASS=cnwfbkbwlrhdhizg
SMTP_FROM=PriceHunter <pricehunter318@gmail.com>
AMAZON_EG_ASSOC_TAG=
AMAZON_EG_ACCESS_KEY=
AMAZON_EG_SECRET_KEY=
AMAZON_EG_REGION=
AMAZON_EG_HOST=amazon.eg
AMAZON_SA_ASSOC_TAG=
AMAZON_SA_ACCESS_KEY=
AMAZON_SA_SECRET_KEY=
AMAZON_SA_REGION=
AMAZON_SA_HOST=amazon.sa
AMAZON_UK_ASSOC_TAG=
AMAZON_UK_ACCESS_KEY=
AMAZON_UK_SECRET_KEY=
AMAZON_UK_REGION=
AMAZON_UK_HOST=amazon.co.uk
CJ_API_KEY=
GOOGLE_CSE_API_KEY=
GOOGLE_CSE_CX=
OPENAI_API_KEY=
